# Flask et CORS
Flask==3.0.0
Flask-Cors==4.0.0

# Calculs scientifiques
numpy==1.24.3
pandas==2.0.3
scipy==1.11.1

# Machine Learning
scikit-learn==1.3.0

# Utilitaires
python-dateutil==2.8.2
pytz==2023.3